@import "tailwindcss";

@layer components {
  .btn {
    @apply transition ease-in-out min-w-40 rounded font-bold disabled:bg-slate-900 disabled:text-slate-600 disabled:ring-offset-0 disabled:ring-0 hover:ring-offset-1 hover:ring-1 p-1 m-1 cursor-pointer;
  }
  .varbtn {
    @apply transition ease-in-out rounded font-bold disabled:bg-slate-900 disabled:text-slate-600 disabled:ring-offset-0 disabled:ring-0 hover:ring-offset-1 hover:ring-1 p-1 m-1 cursor-pointer;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark light;
  color: lightsteelblue;
  background: rgb(2, 0, 36);
  background: linear-gradient(
          336deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(11, 11, 88, 1) 73%,
          rgba(8, 50, 100, 1) 80%,
          rgba(18, 12, 60, 1) 91%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}
